/* --Font-- */

@font-face {
    font-family: distant_galaxy;
    src: url(../font/sf_distant_galaxy/SFDistantGalaxy.ttf);
  }

/* --Elements-- */

html, body {
    font-family: distant_galaxy;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
body {
    background-image: url(../images/background01.jpg);
    background-color: #ffffff;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem auto;
    color: #ffffff;
}

p {
    color: #000000;
    font-size: .75rem;
}

button {
    font-family: distant_galaxy;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-image: linear-gradient(to bottom right, lightgray, gray, darkgray);
    padding: 10px;
}

/* --Classes-- */

.container {
    margin: auto;
}

.characterImage {
    width: 150px;
    height: 84px;
    
}

.characterImageDiv {
    margin-left: 1rem;
    width: 150px;
    margin-top: .5rem;
    border:  2px solid #ffffff;
    background-color: #ffffff;
}

.characterImagesContainer {
    width: 100%;  
    margin: auto;  
}

.redBackground {
    background-color: red !important;
    border-color: red !important;
}

.greenBackground {
    background-color: green !important;
    border-color: green !important;
}

.grayBackground {
    background-color: gray;
    border-color: gray;
}

.chosenEnemy {
    position: relative;
    left: 400px;
}

.userMessage {
    position: relative;
    left: 220px;
}

.pMessage {
    color: white;
}

.button {
    position: relative;
    left: 265px;
    top: 60px;
}

.zeroOpacity {
    opacity: 0;
}
