@font-face {
    font-family: distant_galaxy;
    src: url(../font/sf_distant_galaxy/SFDistantGalaxy.ttf);
  }

html, body {
    font-family: distant_galaxy;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    background-image: url(../images/background01.jpg);
    background-color: #ffffff;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem auto;
    color: #ffffff;
}

p {
    color: #000000;
    font-size: .75rem;
}

.characterImage {
    width: 150px;
    height: 84px;
    
}

.characterImageDiv {
    margin-left: 1rem;
    width: 150px;
    margin-top: .5rem;
    border:  2px solid #ffffff;
    background-color: #ffffff;
}

.characterImagesContainer {
    width: 100%;  
    margin: auto;  
}

.redBackground {
    background-color: red !important;
    border-color: red !important;
}

.greenBackground {
    background-color: green !important;
    border-color: green !important;
}

.chosenEnemy {
    position: relative;
    left: 400px;
}

.userMessage {
    position: relative;
    left: 250px;
}

.pMessage {
    color: white;
}